.messageComponent {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.messageSuccess {
  background: #4caf50;
  color: white;
}

.messageError {
  background-color: #e53935;
  color: white;
}

.messageInfo {
  background-color: #2196f3;
  color: white;
}
